/*================================================================================
	Item Name: Frest HTML Admin Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
body{
	font-family: 'Montserrat';
}
@font-face{
	font-family:Montserrat;
	font-weight:400;
	font-style:normal;src:url(../fonts/Montserrat-Regular.ttf);
	src:url(../fonts/Montserrat-Regular.ttf) format('embedded-opentype'),
	url(../fonts/Montserrat-Regular.ttf) format('woff2'),
	url(../fonts/Montserrat-Regular.ttf) format('woff'),
	url(../fonts/Montserrat-Regular.ttf) format('truetype'),
	url(../fonts/Montserrat-Regular.svg?#boxicons) format('svg')}.
.fs-18{
	font-size: 18px !important;
}
.fs-20{
	font-size: 20px;
}
.table td, .table th{
	padding: 0.5rem 1rem;
}
.pt--2,
.pt--3,
.pt--4{
	display: inline-block;
}

.pt--2{
	padding-top: 2px;
}
.pt--3{
	padding-top: 3px;
}
.pt--4{
	padding-top: 4px;
}
.lg-icon{
	font-size: 33px !important;
	margin-top:4px;
}
.badge-circle-x{
	height: 46px;
    width: 46px;
}
.btn-wd{
            width: 60px;
            font-size: 18px;
            height: 30px;
            line-height: 16px;
            padding: 6px 0px;
        }
.mr--20{
    margin-right: 20px;
}
.color-1,
.color-5{
	color:#FF5B5C !important;
}
.color-2,
.color-6{
	color:#FDAC41 !important;
}
.color-3,
.color-7{
	color:#39DA8A !important;
}
.color-4,
.color-8{
	color:#5A8DEE !important;
}
.show-alert{
	display: none;
}
.badge-circle-light-white{
	background:#fff;
}
.v-middle{
	vertical-align: middle;
}
[type=search]{
	outline-offset: 0px;
}
.sm-item{
	padding: 6px 12px !important;
}
/*.scan-btn,*/
.continue-action,.hide,.data-loading,.action-transit{
    display: none;
}
.scanned-panel{
    height: 340px;
    overflow-y: auto;
}
.height-360{
    min-height: 360px;
}
.alert-box{
	display: none;
}
.data-loading{
    padding: 10px;
}
.card .card-title{
	font-size: 1.1rem !important;
}
.table .thead-dark th{
	background-color: #5a8dee !important;
    border-color: #4c7edc !important;
}
.bg-grey{
	background:#F2F4F4;
}