body{
    font-family: "Poppins-Regular","Pyidaungsu";
    font-size: 14px;
    color:#777777;
}
@font-face {
    font-family: 'Poppins-Regular';
    src:url('../fonts/Poppins-Regular.ttf');
    src:url('../fonts/Poppins-Regular.ttf') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.ttf') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.ttf') format('svg');
    font-weight: bold;
    font-style: normal;
} 
@font-face {
    font-family: 'Pyidaungsu';
    src:url('../fonts/Pyidaungsu-1.8_Regular.ttf');
    src:url('../fonts/Pyidaungsu-1.8_Regular.ttf') format('embedded-opentype'),
    url('../fonts/Pyidaungsu-1.8_Regular.ttf') format('woff'),
    url('../fonts/Pyidaungsu-1.8_Regular.ttf') format('truetype'),
    url('../fonts/Pyidaungsu-1.8_Regular.ttf') format('svg');
    font-weight: bold;
    font-style: normal;
} 
.mm-font{
  font-family: "Pyidaungsu" !important;
}
.en-font{
  font-family: "Poppins-Regular" !important;
}
.fullpage-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #fa743e;
    z-index: 9999;
    opacity: 1;
    transition: opacity .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fullpage-loader__logo img{
    height:40%;
}

@keyframes shine {
    0% {
        transform: translateX(-100%) skew(-30deg);
    }
    100% {
        transform: translateX(200%) skew(-30deg);
    }
}

.fullpage-loader--invisible {
    opacity: 0;
}
.bg-whitesmoke{
    background:#f5f5f5;
}
.switch-label{
    display: inline-block;
    margin-top: 4px;
    color: #fff;
}
.scan-btn{
    display: none;
    margin-top:10px;
}
.outbound-transit-switch,
.inbound-transit-switch,
.inbound-city-transit-switch,
.handover-transit-switch,
.outbound-city-transit,
.to-city-transit-switch{
    display: none;
}
.widget-item{
    background:#f7f7fb;
    padding:6px 12px;
    margin:4px;
    margin-top: 6px !important;
}
.kt-none{
    margin-bottom: 10px;
}
.border-1{
    border:1px dashed #dfdfff;
}
.border-1:hover{
    background:#f0f1ff;
}
.border-2{
    border:1px dashed #bae4df;
}
.border-2:hover{
    background:#eaf7f5;
}
.fs-14{
    font-size:14px;
}
.fs-15{
    font-size:15px;
}
.fs-16{
    font-size:16px;
}
.fs-18{
    font-size:18px;
}
.fs-22{
    font-size:22px !important;
}
.fs-24{
    font-size:24px !important;
}
.fs-30{
    font-size:30px;
}
.fs-40{
	font-size:40px;
}

.badge-sm{
    font-size: 16px;
    width:50px;
}
.text-upper{
    text-transform: uppercase;
}
.text-white{
	color:#ffffff;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.mt-10{
    margin-top:10px;
}
.mb-10{
    margin-bottom:10px;
}
.switch-lbl{
    display: inline-block;
    margin-top: 4px;
}
.user-info {
    padding:0px;
    margin:0px;
}
.user-info li{
    list-style: none;
}
li.small{
    font-size:16px;
    padding-bottom: 2px;
}
.sm-pic{
    height:40px;
}
.custom-alert{
    padding: 2px 12px;
    margin-top:8px;
}
.pull-right{
    display: inline-block;
    float: right;
}
.right{
  float: right !important;
}
p#description{
    line-height: 24px;
    font-size: 16px;
}
.mt--8{
    margin-top:-8px;
}
.mt--4{
    margin-top:-4px;
}
.tooltip-inner {
   max-width: 350px;
}
.space-between{
    display: inline-block;
    width:80%;
}
.mb-0{
    margin-bottom: 0px;
}
.mb-2{
    margin-bottom: 2px;
}
.pa-0{
    padding:0px !important;
}
.pb-10{
    padding-bottom: 10px;
}
.pt-0{
    padding-top:0px;
}
.w-200{
    display: inline-block;
    width:200px;
}
.w-220{
    display: inline-block;
    width:220px;
}
.w-300{
    width:300px;
} 
.mt-10{
    margin-top:10px;
}
.add-scroll{
    height: 520px;
    overflow-y: scroll;
}
.logo-sm{
    height:40px;
}
.h-64{
    height:64px;
}
.transit-list{
    display: none;
}
.h-40{
    height: 40px !important;
}
.alert-box{
    display: none;
}
.search-border{
    border-color:#009688;
    border-style: dashed;
}
.search{
    display: none;
}
.searching{
    float: right;
    margin-top: 20px;
    margin-right: -4px;
}
.search-spinner{
    display: none;
}
.scanned-loading{
    margin:10px 20px;
    display: none;
    z-index: 999;
}
.ml-10{
  margin-left:10px;
}
.menu-active{
    
}
.kt-footer{
    margin-top:12px;
}
.fixed-mini-scroll{
    height:100px;
    overflow-y: auto;
}
.set-datetime{
    font-size: 16px;
    padding-left: 20px;
    height: 40px;
    color: #5866dd;
}
.highlight{
    background:#ade8b0;
}
.pre{
    display: block;
    color:#8c8482;
    font-size: 14px;
}
.pre-l1{
}
.pre-l2{
    text-indent: 20px;
}
.pre-l3{
    text-indent: 40px;
}
.pre-l4{
    text-indent: 60px;
}
.search-border:last-child{
    border-color:#009688 !important;;
    border-style: dashed;
}
.reload-routes{
    cursor: pointer;
}
.h-s-600{
    height: 600px;
    overflow-y: scroll;;
}
.h-s-400{
    height: 400px;
    overflow-y: scroll;;
}
.pa-10{
    padding:10px;
}
.border-dashed{
    border:1px dashed #ddd;
}
.bg-gray{
    background:#f9f9fc;
}
.action-transit{
    display: none;
}
.w-full{
    width:100% !important;
}
.select2-container{
    display: block;
}

/*!
 * font-awesome-animation - v0.0.6
 * https://github.com/l-lin/font-awesome-animation
 * License: MIT
 */
@-webkit-keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    -ms-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-wrench.animated,
.faa-wrench.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-wrench {
  -webkit-animation: wrench 2.5s ease infinite;
  animation: wrench 2.5s ease infinite;
  transform-origin-x: 90%;
  transform-origin-y: 35%;
  transform-origin-z: initial;
}

/* BELL */

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.faa-ring.animated,
.faa-ring.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-ring {
  -webkit-animation: ring 2s ease infinite;
  animation: ring 2s ease infinite;
  transform-origin-x: 50%;
  transform-origin-y: 0px;
  transform-origin-z: initial;
}

/* VERTICAL */

@-webkit-keyframes vertical {
  0% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  4% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  8% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  12% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  16% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  20% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  22% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@keyframes vertical {
  0% {
    -webkit-transform: translate(0,-3px);
    -ms-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  4% {
    -webkit-transform: translate(0,3px);
    -ms-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  8% {
    -webkit-transform: translate(0,-3px);
    -ms-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  12% {
    -webkit-transform: translate(0,3px);
    -ms-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  16% {
    -webkit-transform: translate(0,-3px);
    -ms-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }

  20% {
    -webkit-transform: translate(0,3px);
    -ms-transform: translate(0,3px);
    transform: translate(0,3px);
  }

  22% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.faa-vertical.animated,
.faa-vertical.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-vertical {
  -webkit-animation: vertical 2s ease infinite;
  animation: vertical 2s ease infinite;
}

/* HORIZONTAL */

@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  6% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  12% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  18% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  24% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  30% {
    -webkit-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  36% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }
}

@keyframes horizontal {
  0% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  6% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  12% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  18% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  24% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }

  30% {
    -webkit-transform: translate(5px,0);
    -ms-transform: translate(5px,0);
    transform: translate(5px,0);
  }

  36% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
  }
}

.faa-horizontal.animated,
.faa-horizontal.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-horizontal {
  -webkit-animation: horizontal 2s ease infinite;
  animation: horizontal 2s ease infinite;
}

/* FLASHING */

@-webkit-keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 100%, 50% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.faa-flash.animated,
.faa-flash.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-flash {
  -webkit-animation: flash 2s ease infinite;
  animation: flash 2s ease infinite;
}

/* BOUNCE */

@-webkit-keyframes bounce {
  0%, 10%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 10%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.faa-bounce.animated,
.faa-bounce.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-bounce {
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

/* SPIN */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.faa-spin.animated,
.faa-spin.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-spin {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

/* FLOAT */

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-float {
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
}

/* PULSE */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: pulse 2s linear infinite;
  animation: pulse 2s linear infinite;
}

/* SHAKE */

.faa-shake.animated,
.faa-shake.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-shake {
  -webkit-animation: wrench 2.5s ease infinite;
  animation: wrench 2.5s ease infinite;
}

/* TADA */

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  80% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  10%, 20% {
    -webkit-transform: scale(.9) rotate(-8deg);
    -ms-transform: scale(.9) rotate(-8deg);
    transform: scale(.9) rotate(-8deg);
  }

  30%, 50%, 70% {
    -webkit-transform: scale(1.3) rotate(8deg);
    -ms-transform: scale(1.3) rotate(8deg);
    transform: scale(1.3) rotate(8deg);
  }

  40%, 60% {
    -webkit-transform: scale(1.3) rotate(-8deg);
    -ms-transform: scale(1.3) rotate(-8deg);
    transform: scale(1.3) rotate(-8deg);
  }

  80% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

.faa-tada.animated,
.faa-tada.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-tada {
  -webkit-animation: tada 2s linear infinite;
  animation: tada 2s linear infinite;
}

/* PASSING */

@-webkit-keyframes passing {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes passing {
  0% {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
  }

  50% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    opacity: 0;
  }
}

.faa-passing.animated,
.faa-passing.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-passing {
  -webkit-animation: passing 3s linear infinite;
  animation: passing 3s linear infinite;
}

/* WAVE */

@-webkit-keyframes burst {
  0% {
    opacity: .6;
  }

  50% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes burst {
  0% {
    opacity: .6;
  }

  50% {
    -webkit-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.faa-burst.animated,
.faa-burst.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-burst {
  -webkit-animation: burst 3s infinite linear;
  animation: burst 3s infinite linear;
}
.time-block{
  margin-top: 28px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.times-on,
.times-off{
  border-radius: 20px;
  border:3px double #ffffff;
}
.ps{
  //background:#fb6f43;
}
.scroll-hide-y{
  overflow-y: hidden;
}
.drag-item-active{
  background:#009688;
}
.drag-item-inactive{
  background:#FF5722;
}
.drag-item-active i,
.drag-item-active h3,
.drag-item-active small,
.drag-item-inactive i,
.drag-item-inactive h3,
.drag-item-inactive small{
  color:#ffffff !important;
}
.pagination-btn:disabled{
  background: #fd2b31;
    color: #ffffff;
    border: 1px solid #fd2b31;
}
.blockMsg{
  top:200px !important;
  width: 300px !important;
}
.blockMsg > .blockui {
 
}
.blockMsg > .blockui > span{
  font-size: 18px;
}
.blockOverlay{
 background:#9E9E9E !important;
 opacity: 0.3 !important;
}
.btn-alert{
  cursor: pointer;
}
.unstyled-list li{
  list-style: none;
}
.badge-purple{
  background:#9C27B0;
  color:#ffffff;
}
.border-bold{
  border-top: 2px solid #ddd !important;
  border-bottom: 2px solid #ddd !important;
}
.filtered-box{
  display: none;
}
.square{
  display: inline-block;
  width:18px;
  height:18px;
  vertical-align: middle;
}
.bg-purple{
  background:#9C27B0;
}
.finished{
  opacity: 0.5;
}
.list-group-item{
  font-size: 16px;
}
.wd-100{
  width: 100%;
}
.times{
  height:80px;
  width:80px;
  background:url('{{ asset("_assets/5sec.gif") }}');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.continue-action{
  display: none;
}
.continue-action{
  margin-top:10px;
}
.invalid-no{

}
.scanned-panel{
  height: 460px;
  overflow-y: auto;
}
.blur-item{
  opacity: 0.2;
    border-color: #9E9E9E;
    background:#9E9E9E;
}

.pulse {
  display: block;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244,67,54, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(244,67,54, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(244,67,54, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(244,67,54, 0.4);
    box-shadow: 0 0 0 0 rgba(244,67,54, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(244,67,54, 0);
      box-shadow: 0 0 0 10px rgba(244,67,54, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(244,67,54, 0);
      box-shadow: 0 0 0 0 rgba(244,67,54, 0);
  }
}
